<header id=header>
  <h1 id=title><a href="/">{{title}}</a></h1>
  <nav id=nav>
    <ol>
      {{#menu}}
        <li {{#current}} class=current {{/current}}><a href="{{url}}">{{title}}</a></li>
      {{/menu}}
    </ol>
  </nav>
</header>
