<header id=header>
  <h1 id=title><a href="/">{{title}}</a></h1>
  <nav id=menu>{{> menu}}</nav>
</header>
<section id=section>
  <aside id=aside>&nbsp;</aside>
  <article id=article>
    <ol class=index>
      {{#docs}}
        <li><a href="{{url}}">{{title}}</a> {{subtitle}}</li>
      {{/docs}}
    </ol>
  </article>
</section>
