<form class=login>
  <fieldset>
    <legend>Please Login</legend>
    <p>
      <input type=text name=username required placeholder=lena autofocus size=15>
      <input type=password name=password required placeholder=secure size=8>
      <input type=submit value=Login>
    </p>
  </fieldset>
</form>
