<header>
  <h1><a href="/">{{title}}</a></h1>
  <nav id=menu>{{> menu}}</nav>
</header>
{{#docs}}
  <section>
    {{#editable}}
      <aside contenteditable data-attr=aside data-id="{{_id}}">{{{aside}}}</aside>
      <article contenteditable data-attr=article data-id="{{_id}}">{{{article}}}</article>
    {{/editable}}
    {{^editable}}
      <aside>{{{aside}}}</aside>
      <article>{{{article}}}</article>
    {{/editable}}
  </section>
{{/docs}}
