<header>
  <h1 class=title><a href="/">{{title}}</a><span class=cross></span></h1>
  <nav id=menu>{{> menu}}<span class=cross></span></nav>
</header>
{{#docs}}
  <section>
    {{#editable}}
      <aside contenteditable data-attr=aside data-id="{{_id}}">{{{aside}}}<span class=cross></span></aside>
      <article contenteditable data-attr=article data-id="{{_id}}">{{{article}}}<span class=cross></span></article>
    {{/editable}}
    {{^editable}}
      <aside>{{{aside}}}<span class=cross></span></aside>
      <article>{{{article}}}<span class=cross></span></article>
    {{/editable}}
  </section>
{{/docs}}
