<header id=header>
  <h1 id=title><a href="/">{{title}}</a></h1>
  <nav id=menu>{{> menu}}</nav>
</header>
<section id=section>
  {{#docs}}
    <aside id=aside>{{{aside}}}</aside>
    <article id=article>{{{article}}}</article>
  {{/docs}}
</section>
