{{#username}}
  <menu type=toolbar>
    <p>
      <button class=logo>TF</button>
      <button data-action=new>New</button>
      {{#list}}
        <button data-action=sort>Sort</button>
      {{/list}}
      {{#show}}
        <button data-action=edit>Meta</button>
        <button data-action=destroy>Delete</button>
      {{/show}}
      <button data-action=logout>Logout</button>
    </p>
    {{#show}}
      <p class=format>
        <button data-command=formatBlock data-value=H1>H</button>
        <button data-command=formatBlock data-value=P>P</button>
        <button data-command=bold>b</button>
        <button data-command=italic>i</button>
        <button data-command=underline>u</button>
        <button data-command=insertUnorderedList>&equiv;</button>
      </p>
      <p class=images>
        {{#images}}
          <button data-command=insertImage data-value="{{url}}" style="background-image: url({{url}})"></button>
        {{/images}}
      </p>
    {{/show}}
    <form data-dialog=new style="display:none">
      <fieldset>
        <legend>New Page</legend>
        <p>
          <label>Folder</label>
          <input tabindex=1 type=text name=folder required pattern="[^\/]+" value="{{currentFolder}}">
          {{#folders}}
            <button data-folder="{{.}}">{{.}}</button>
          {{/folders}}
        </p>
        <p>
          <label>Title</label>
          <input tabindex=2 type=text name=title required>
        </p>
        <p>
          <label>Subtitle</label>
          <input tabindex=3 type=text name=subtitle value="{{subtitle}}">
          <input tabindex=4 type=submit value="Create New Page">
        </p>
      </fieldset>
    </form>
    <form data-dialog=edit style="display:none">
      {{#pages}}
        <fieldset>
          <legend>Page Meta Information</legend>
          <p>
            <label>Folder</label>
            <input type=text name=folder value="{{folder}}" required pattern="[^\/]+">
            {{#folders}}
              <button data-folder="{{.}}">{{.}}</button>
            {{/folders}}
          </p>
          <p>
            <label>Title</label>
            <input type=text name=title value="{{title}}" required>
          </p>
          <p>
            <label>Subtitle</label>
            <input type=text name=subtitle value="{{subtitle}}">
            <input type=submit value="Update Meta Information">
          </p>
        </fieldset>
      {{/pages}}
    </form>
    <form data-dialog=sort style="display:none">
      <fieldset>
        <legend>Order Pages</legend>
        <p>
          Drag Pages into their desired order.
          Press <input type=submit value="Finish"> when done.
        </p>
      </fieldset>
    </form>
  </menu>
{{/username}}
