{{#username}}
  <menu type=toolbar>
    <p>
      <button class=logo>TF</button>
      <button data-action=create>New</button>
      {{#editing}}
        <button data-action=destroy>Delete</button>
      {{/editing}}
      <button data-action=logout>Logout</button>
    </p>
    {{#editing}}
      <p class=format>
        <button data-command=formatBlock data-value=H1>H</button>
        <button data-command=formatBlock data-value=P>P</button>
        <button data-command=bold>b</button>
        <button data-command=italic>i</button>
        <button data-command=underline>u</button>
        <button data-command=insertUnorderedList>&equiv;</button>
      </p>
      <p class=images>
        {{#images}}
          <button data-command=insertImage data-value="{{url}}" style="background-image: url({{url}})"></button>
        {{/images}}
      </p>
    {{/editing}}
    <p id=info class=info></p>
    <form data-dialog=create style="display:none">
      <fieldset>
        <legend>New Page</legend>
        <p>
          <label>Folder</label>
          <input type=text name=folder required pattern="[^\/]+">
          {{#folders}}
            <button data-folder="{{.}}">{{.}}</button>
          {{/folders}}
        </p>
        <p>
          <label>Title</label>
          <input type=text name=title required>
          <input type=submit value="Create Page">
        </p>
      </fieldset>
    </form>
  </menu>
{{/username}}
