/* Lena Style */
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  overflow-y: scroll;
  font-size: 14px;
  line-height: 3ex;
}
.window-title {
  display: none;
}
.content {
  display: table;
  width: 100%;
  border-collapse: collapse;
}
header,
section {
  display: table-row;
}
header > h1,
header > nav,
section > aside,
section > article {
  display: table-cell;
  font-size: 1em;
  padding: 1.1ex 1.1em;
  margin: 0;
}
header > h1,
header > nav {
  padding-top: 3ex;
  vertical-align: baseline;
}
section > aside,
section > article {
  vertical-align: top;
}
header > h1,
section > aside {
  width: 200px;
  text-align: right;
}

/* elements */
header h1 a {
  font-size: 1.618em;
  text-decoration: none;
  color: black;
}
header > nav ol {
  margin: 0;
  padding: 0;
}
header > nav li {
  display: inline;
}
header > nav li a {
  text-decoration: none;
  padding: 0.5ex 0.5em;
}
header > nav li:first-child a {
  padding-left: 0;
}
header > nav li.current a {
  color: black;
}
section > aside h1,
section > article h1 {
  font-size: 1em;
}
section > aside img,
section > article img {
  max-width: 100%;
  display: table;
}
section > aside img:first-child,
section > article img:first-child {
  margin-top: 1ex;
}
section > aside img {
  float: right;
}
section > article img {
  float: left;
}
section > article p {
  max-width: 55em;
}
section > article ol.list {
  padding: 0;
  -moz-column-width: 16em;
  -webkit-column-width: 16em;
  column-width: 16em;
  -moz-column-gap: 2em;
  -webkit-column-gap: 2em;
  column-gap: 2em;
  list-style: none;
}
section > aside > *:first-child,
section > article > *:first-child {
  margin-top: 0;
}

article .list li.double {
  display: none;
}

/* responsivity */
@media all and (max-width: 800px) {
  .content,
  section,
  section > aside,
  section > article {
    display: block;
  }
  header > h1,
  section > aside {
    width: auto;
    text-align: left;
  }
}
@media all and (max-width: 480px) {
  header,
  header > h1,
  header > nav {
    display: block;
  }
}

