form.login {
  padding: 10%;
  text-align: center;
}
form.login fieldset {
  text-align: left;
  vertical-align: middle;
  display: inline-block;
  border-radius: 5px;
  border: 1px solid black;
}
form.login fieldset p {
}
