menu {
  display: block;
  padding: 0.5ex 1em;
  margin: 0;
  border-bottom: 1px solid #b8b8b7;
  background-color: #edeceb;
  font-weight: bold;
  font-size: 0.8em;
  font-family: sans-serif;
}
menu ul,
menu p {
  padding: 0 1em;
  border-left: 1px dotted silver;
  display: inline;
}
menu *:first-child {
  padding-left: 0;
  border-left: none;
}
menu li,
menu button {
  cursor: pointer;
  display: inline;
  margin: 0 0.5em;
  text-shadow: 1px 1px 1px white;
  color: #666;
  min-width: 1.2em;
  min-height: 2ex;
}
menu li.logo:hover,
menu li.logo {
  color: white;
  text-shadow: 1px 1px 1px #ccc;
  letter-spacing: -0.1em;
  cursor: default;
}
menu button {
  border: none;
  background-color: transparent;
  margin: 0;
}
menu li:hover,
menu button:hover {
  color: #333;
}

menu button[data-command=formatBlock][data-value=H1] {
  font-weight: bold;
}
menu button[data-command=bold] {
  font-weight: bold;
}
menu button[data-command=italic] {
  font-style: italic;
}
menu button[data-command=underline] {
  text-decoration: underline;
}
menu button[data-command=insertImage] {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
  min-width: 2em;
  border-radius: 2px;
}

