menu {
  display: block;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #b8b8b7;
  background-color: white;
  font-weight: bold;
  font-size: 0.8em;
  font-family: sans-serif;
  vertical-align: middle;
}
menu > p {
  padding: 3px 1em;
  border-left: 1px dotted silver;
  display: inline-block;
  vertical-align: middle;
  margin: 0;
}
menu > p:first-child {
  padding-left: 0;
  border-left: none;
}
menu button {
  cursor: pointer;
  display: inline-block;
  margin: 0 0.5em;
  padding: 1px 5px;
  border-radius: 2px;
  color: #666;
  min-width: 20px;
  min-height: 20px;
  vertical-align: middle;
  border: none;
  background-color: transparent;
}
menu button:hover {
  -webkit-box-shadow: 0 0 2px #333;
  -moz-box-shadow: 0 0 2px #333;
  -o-box-shadow: 0 0 2px #333;
  box-shadow: 0 0 2px #333;
}
menu button.logo:hover,
menu button.logo {
  color: white;
  text-shadow: 1px 1px 1px #ccc;
  letter-spacing: -0.1em;
  cursor: default;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
}
menu button:hover {
  color: #333;
}

menu .format button {
  margin: 0 0;
}
menu .images button {
  margin: 0 5px;
}
menu button[data-command=formatBlock][data-value=H1] {
  font-weight: bold;
}
menu button[data-command=bold] {
  font-weight: bold;
}
menu button[data-command=italic] {
  font-style: italic;
}
menu button[data-command=underline] {
  text-decoration: underline;
}
menu button[data-command=insertImage] {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
  min-width: 42px;
}

menu fieldset {
  margin: 0 0 0 1.5em;
  padding: 1ex 1em 2ex 1em;
  border-radius: 4px 0 0 0;
  border: 1px dotted #b8b8b7;
  border-right: none;
  border-bottom: none;
}
menu legend {
  color: #999;
  cursor: default;
}
menu label {
  font-weight: normal;
  color: #aaa;
  min-width: 4em;
  display: inline-block;
  margin: 0 1em 0 0.3em;
}
menu input[type=text] {
  margin: 0 1em 0 0;
  max-width: 70%;
  min-width: 4em;
}
menu input[type=submit] {
  margin-top: 1ex;
}
menu fieldset p {
  margin: 1ex 0 0 0;
}
menu fieldset p input + button {
  margin-left: 0;
}

menu p.info {
  color: #999;
  font-weight: normal;
  cursor: default;
}

.dragover {
  outline: 1px dashed black;
}
